.table-scrollable {
    max-height: Calc(100vh - 300px);
    overflow: auto;
    border: 1px solid #dee2e6;

    thead {
        position: sticky;
        z-index: 5;
        border-style: hidden;
        top: 0;
    }
}

.w-80 {
    width: 80%;
}

.w-20 {
    width: 20%;
}